<td width="425" valign="top" align="left" style="background-color: #ffffff;">
  <div style="min-height: 300px; padding: 20px; margin-bottom: 10px">
    <div style="font-size: 15px; border-bottom: 1px dashed #dededa; padding-bottom: 20px; margin: 0;">
      <p>This is a confirmation for your purchase</p>
    </div>
  </div>
</td>
